:root{
    --body-bg: lightblue ;
    --hamberger-bg:lightblue;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    align-items: center;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    width:350px;
    height:100px;
    background-color: yellow;
    border-radius: 20px;
    position: relative; 
    bottom:10px;
}